<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="app-theme">
  <template>

    <template id="theme" is="dom-if" if="[[themeLoaded]]" restamp>
      <div hidden="[[!appLoaded]]">
        <the-theme
          narrow="{{narrow}}"
          loading="[[loading]]"
          progress="[[progress]]"
          page-title="[[pageTitle]]"
          route-data="[[routeData]]">
        </the-theme>
      </div>
    </template>

  </template>
  <script>
    (function() {
      'use strict';
      Polymer({
        is: 'app-theme',

        behaviors: [ ReduxBehavior ],

        properties: {
          themeLoaded: {
            type: Boolean,
            statePath: 'meta.themeLoaded'
          },
          appLoaded: {
            type: Boolean,
            statePath: 'meta.appLoaded'
          }
        }
      });
    })();
  </script>
</dom-module>
