<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="app-theme">
  <template>

    <template id="theme" is="dom-if" if="[[appLoaded]]" restamp>
      <theme-body></theme-body>
    </template>

  </template>
  <script>
    (function() {
      'use strict';
      Polymer({
        is: 'app-theme',

        behaviors: [ ReduxBehavior ],

        properties: {
          appLoaded: {
            type: Boolean,
            statePath: 'meta.appLoaded'
          }
        }
      });
    })();
  </script>
</dom-module>
